.datos{
    margin-top: 20px;
    background-size: 100%;
    background-position: center;
    height: 100%;
    display:grid;
    grid-template-rows: 50% 50%;
    grid-gap:0px;   
    background:#009688;  
}

.grid-item {
    margin-top: 15px;
    padding: 5px;
    font-size: 15px;
  }

.imagen{
    width:450px;
}

agm-map{
    margin-top:20px;
    height: 450px;
    width: 100%;

}